
<ion-view title="Products">
    <ion-content class="has-header">
        <ion-list>
            <!--<ion-item ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/1">-->
                <!--{{product.fn}}-->
            <!--</ion-item>-->
        </ion-list>


        <div class="list">
            <div ng-repeat="product in products">
                <a class="item item-thumbnail-left" href="#/tab/product/{{product.id}}">
                    <img src="{{product.photos[0]}}">
                    <h2>{{product.fn}}</h2>
                    <p>{{product.description}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

